<!-- <header>
    <challenge-header [title]="'Maquetación HTML Y CSS'" [instructionPage]="'htmlCss'" />
</header> -->


<!-- Puedes comenzar a partir de aquí ignorando la etiqueta header y challenge-header -->
<div class="contenedor">
    <div class="home">
        <header>
            <!--En realidad esto es el header-->
            <nav>
                <!--y esto es el nav-->
                <ul>
                    <li>
                        <a href="" target="_blank">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            Información
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            Proyectos
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            Contacto
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <section class="main">
            <h1>Ingeniería de software</h1>
            <button>Contáctanos</button>
        </section>
    </div>

    <section class="info">
       <!---Esto es una sección-->
        <h1>Desarrollo de software</h1>
        <p>Tú pones la idea y nosotros la hacemos realidad en la tecnología más adecuada para el proyecto. 
            Somos especialistas en .NET con experiencia en otras plataformas como Java, Android e IOS.</p>
    </section>

    <section class="info">
        <!---Esto es otra sección-->
        <h1>Sistema de Ticketing</h1>
        <p>Vende desde la web o en una taquilla física cualquier tipo de producto o entrada de tu recinto o evento. 
            Con módulos de facturación o reservas que te permitirán completar la gestión administrativa de la venta.</p>
    </section>

    <footer>
        <!--Esto es el footer-->
        © Desarrollado por Ingematic. Todos los derechos reservados.
    </footer>
</div>